<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SEPARATE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SEPARATE.Properties.Settings>
            <setting name="H1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="H8" serializeAs="String">
                <value>0</value>
            </setting>
        </SEPARATE.Properties.Settings>
    </userSettings>
</configuration>